<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>首页</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "aui/css/aui.css" %}"/>
</head>
<body>

{#<header class="aui-bar aui-bar-nav">#}
{#    <div class="aui-title">#}
{#        <div class="aui-bar aui-bar-btn aui-bar-btn-round">#}
{#            <div class="aui-bar-btn-item aui-active">我的</div>#}
{#            <div class="aui-bar-btn-item">音乐馆</div>#}
{#            <div class="aui-bar-btn-item">发现</div>#}
{#        </div>#}
{#    </div>#}
{#</header>#}

<div id="content" style="padding-bottom: 3rem"></div>

<footer class="aui-bar aui-bar-tab" id="footer">
    <div class="aui-bar-tab-item aui-active" tapmode>
        <i class="aui-iconfont aui-icon-home"></i>
        <div class="aui-bar-tab-label">首页</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <i class="aui-iconfont aui-icon-star"></i>
        <div class="aui-bar-tab-label">收藏</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <div class="aui-badge">99</div>
        <i class="aui-iconfont aui-icon-cart"></i>
        <div class="aui-bar-tab-label">购物车</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <div class="aui-dot"></div>
        <i class="aui-iconfont aui-icon-my"></i>
        <div class="aui-bar-tab-label">我的</div>
    </div>
</footer>

<script type="text/javascript" src="{% static "aui/script/aui-tab.js" %}"></script>
<script type="text/javascript" src="{% static "aui/script/aui-toast.js" %}"></script>
<script type="text/javascript" src="{% static "jquery/jquery-3.3.1.js" %}"></script>
<script type="text/javascript">
    (function () {
        let toast = new auiToast({});

        $(document).ready(function () {
            toast.loading({
                title: "加载中",
                duration: 2000
            }, function (ret) {
                console.log(ret);
                setTimeout(function () {
                    $("#content").load('/home');
                    toast.hide();
                }, 200)
            });
        });

        let tab = new auiTab({
            element: document.getElementById("footer"),
            index: 1,
            repeatClick: false
        }, function (ret) {
            switch (ret.index) {
                case 1:
                    toast.loading({
                        title: "加载中",
                        duration: 2000
                    }, function (ret) {
                        console.log(ret);
                        setTimeout(function () {
                            $("#content").load('/home');
                            toast.hide();
                        }, 200)
                    });
                    break;
                case 4:
                    toast.loading({
                        title: "加载中",
                        duration: 2000
                    }, function (ret) {
                        console.log(ret);
                        setTimeout(function () {
                            $("#content").load('/login');
                            toast.hide();
                        }, 200)
                    });
                    break;
                default:
                    console.log(ret);
                    break;
            }
        });
    })();
</script>

</body>
</html>